[Unit]
Description=AutoViz Server launcher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=@AUTOVIZ_SERVER_HOME@
User=@AUTOVIZ_SERVER_USER@
Group=@AUTOVIZ_SERVER_GROUP@
Environment=HOME=/home/@AUTOVIZ_SERVER_USER@
Environment=USER=@AUTOVIZ_SERVER_USER@
Environment=LOGNAME=@AUTOVIZ_SERVER_USER@
Environment=ROS_LOG_DIR=/home/@AUTOVIZ_SERVER_USER@/.ros/log
Environment=AUTOVIZ_SERVER_HOME=@AUTOVIZ_SERVER_HOME@
Environment=AUTOVIZ_ROBOT_WS_DIR=/home/@AUTOVIZ_SERVER_USER@/robot_ws

# 必须由 systemd 显式设置
Environment="ROS_DOMAIN_ID=0"
Environment="ROS_LOCALHOST_ONLY=0"

ExecStart=@AUTOVIZ_SERVER_HOME@/shell/start_autoviz_server.sh
Restart=on-failure
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
